<section
  class="landing-section w-screen h-screen text-center relative overflow-hidden bg-transparent"
  data-header-color="black"
>
  <div class="z-30 relative h-full flex flex-col">
    <header>
      <h2 class="text-black pt-40 text-[40px] font-medium ">
        @TIENDITA_DAHLIAS
      </h2>
      <p class="text-black text-sm">Artesanía con alma para tu paz interior</p>
    </header>
    <footer class="flex flex-col flex-grow justify-end pb-32">
      <div>
        <a
          class="text-white text-sm border-[3px] rounded hover:bg-white backdrop-blur-sm
                hover:text-black transition-colors duration-300 font-medium px-8 py-2 border-white bg-white/5"
          href=""
        >
          Catalogo
        </a>
      </div>
    </footer>
  </div>
  <!-----
    <div class="absolute top-0 h-full w-full bottom-0 z-10">
    <video
      class="object-center object-cover h-full w-full"
      autoplay
      muted
      loop
      src="/mov.mov"></video>
  </div>

  --- -->
</section>
